* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 1.75em;
    margin-top: 20px;
}

section {
    background-color: #606c71;
    border: 2px solid black;
    margin: 2%;
}

.title {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    padding: 5px;
    border: 1px solid black;
    width: 20%;
    text-align: center;
    font-size: 1.25em;
    color:white;
}

.content {
    padding: 40px 20px 20px 20px;
}

div > p {

}

#chicken {
    background-color: #693a17;
}

#beef {
    background-color: #1e6bb8;
}

#sushi {
    background-color: #a71d5d;
}



/** desktop */
 @media (min-width: 992px) {
     section {
        float: left;
        width: 29%;
     }
 }

/**
    Tablet
*/
@media (min-width: 768px) and (max-width: 991px) {
    section {
        float: left;
        width: 46%;
    }

    #section3 {
        clear: left;
        width: 96%;
    }

}

/**
    Mobile
*/
@media (max-width: 767px) {

}